$glide-class: 'glide' !default;
$glide-element-separator: '__' !default;
$glide-modifier-separator: '--' !default;

$screen-mobile: 579px;
$screen-small: 768px;
$screen-medium: 992px;
$screen-large: 1200px;