@import "_variables.scss";

body{
    background: #FFFFFF;
}

.login{
    @media(min-width: $screen-mobile){
        position: relative;
        z-index: 1;
    }
}

/* News */ 
.news{
    padding: 64px 0 100px;

    &-title{
        font-size: 32px;
        color: #666666;
        letter-spacing: 0;
        text-align: center;
        padding-bottom: 16px;
    }

    &-desc{
        margin: auto;
        font-size: 16px;
        color: #9B9B9B;
        text-align: center;
        line-height: 26px;
        max-width: 480px;
        padding-bottom: 80px;
    }

    &-list{
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-gap: 24px;

        @media(min-width: $screen-small){
            grid-template-columns: auto auto;
            grid-template-rows: repeat(4, auto);

            &-active{
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        @media(min-width: $screen-medium){
            grid-template-columns: auto auto auto;
            grid-template-rows: repeat(3, auto);

            &-active{
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }

        .inner-container{
            margin: 16px;
        }

        &-active{

            &-content{
                display: block;
                background: #ffffff;
                border: 1px solid #EAEAEB;
                overflow: hidden;
                border-radius: 6px;

                &-img{
                    display: flex;

                    img{
                        width: 100%;
                        height: 60vw;
    
                        @media(min-width: $screen-medium){
                            height: 27.8vw;
                        }
                    }
                }

                &-title{
                    margin-top: 8px;
                    margin-bottom: 14px;
                    font-size: 28px;
                    color: #5E5E5E;
                }

                &-desc{
                    padding-bottom: 18px;
                    font-size: 16px;
                    color: #5E5E5E;
                    line-height: 26px;

                    a{
                        text-decoration: none;
                        color: #1B9AD7;
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 400;

                        .read-more{
                            cursor: pointer;
                        }
                    }
                }

                &-author{
                    display: flex;
                    font-size: 16px;
                    margin: 0 -22px;
                    padding-bottom: 7px;

                    .author-name{
                        padding: 0 22px;
                        color: #5E5E5E;
                    }

                    .dot{
                        margin-top: 9px;
                        background-color: #5E5E5E;
                        border-radius: 50%;
                        width: 4px;
                        height: 4px;

                    }

                    .author-date{
                        padding: 0 22px;
                        color: #999999
                    }
                }
            } 
        }

        &-mini{
            &-content{
                display: block;
                background: #ffffff;
                border: 1px solid #EAEAEB;
                overflow: hidden;
                border-radius: 6px;

                &-img{
                    display: flex;
                    
                    img{
                        width: 100%;
                        height: 32vw;
    
                        @media(min-width: $screen-small){
                            height: 25vw;
                        }
    
                        @media(min-width: $screen-medium){
                            height: 13.5vw;
                        }
                    }
                }

                &-title{
                    margin-bottom: 14px;
                    font-size: 16px;
                    line-height: 24px;
                    color: #5E5E5E;
                }

                &-author{
                    display: flex;
                    font-size: 16px;
                    margin: 0 -22px;

                    .author-name{
                        padding: 0 22px;
                        color: #5E5E5E;
                    }

                    .dot{
                        margin-top: 9px;
                        background-color: #5E5E5E;
                        border-radius: 50%;
                        width: 4px;
                        height: 4px;

                    }

                    .author-date{
                        padding: 0 22px;
                        color: #999999
                    }
                }
            } 
        }
    }
}