@import "_variables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', ;
}

body{
    background: #EAEAEB;
}

/* Fonts */
.open-sans-semibold{
    font-weight: 600;
}

.open-sans-regular{
    font-weight: 400;
}

.open-sans-bold{
    font-weight: 700;
}

/* Header */
header{
    background-color: #333333;
    width: 100%;
    height: 40px;

    img{
        position: absolute;
        top: 12px;
        right: 30.2px;
        cursor: pointer;
    }
}

.container{
    margin: 0px 30px;
}

/* Navigation Bar */
.navigation-bar{
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
    background-color: #FFFFFF;

    .navbar{
        display: grid;
        width: 100%;
        grid-template-columns: 41.94px auto auto;
        justify-items: end;

        @media(min-width: $screen-mobile){
            display: flex;
        }

        &-block{
            img{
                max-height: 77px;
            }
        }

        &-binus{
            width: 100%;
            margin: 21px 0px 9px 21px;
            justify-self: baseline;
        }

        &-toggle{
            display: none;

            &:checked ~ .navbar-items{
                max-height: 212px;
                transition:max-height .2s ease-in-out;
            }

            &:checked ~ .navbar-icon{
                .nav-icon{
                    background: transparent;

                    &:before{
                        transform: rotate(-45deg);
                        top: 0;
                    }

                    &:after{
                        transform: rotate(45deg);
                        top: 0;
                    }
                }
            }
        }

        &-icon{
            position: relative;
            margin-bottom: 20px;
            align-self: flex-end;
            cursor: pointer;
            
            @media(min-width: $screen-mobile){
                display: none;
            }

            .nav-icon{
                background: #666666;
                display: block;
                height: 3px;
                width: 20px;
                position: relative;
                border-radius: 2px;
                transition:background .2s ease-out;

                &:before{
                    background: #666666;
                    border-radius: 2px;
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transition: all .2s ease-out;
                    top: 6px;
                }

                &:after{
                    background: #666666;
                    border-radius: 2px;
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transition: all .2s ease-out;
                    top: -6px;
                }
            }
        }

        &-items{
            width: 100%;
            grid-column-start: 1;
            grid-column-end: 4;
            list-style: none;
            overflow: hidden;
            max-height: 0;
            white-space: nowrap;

            li{
                text-align: center;

                a{
                    display: block;
                    border-bottom: 1px solid #EAEAEB;
                    padding: 15px;
                    
                    @media(min-width: $screen-mobile){
                        border: none;
                        padding: 0;
                    }
                }
                
                a:link{
                    text-decoration: none;
                }

                .open-sans-regular{
                    color: rgb(136, 94, 94);
                    font-size: 12px;
                }

                .open-sans-bold{
                    color: #666666;
                    font-size: 14px;
                }
            }

            @media (min-width: $screen-mobile){
                display: flex;
                justify-content: flex-end;
                align-self: flex-end;
                margin-bottom: 8px;
                max-height: 100%;

                li{
                    a{
                        margin-left: 24px;
                    }

                    .home{
                        position: absolute;
                        right: 30px;
                        top: 94px;
                    }
                }
            }
        }  
    }
}

/* Login Button */
.login{
    background-color: rgba(255,255,255,0.80);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.20);
    width: 100%;

    @media(min-width: $screen-mobile){
        position: absolute;
        z-index: 2;
    }

    &-button{
        padding: 16px 30px 16px 0px;
        text-align: right;

        input[type="submit"]{
            border: none;
            background: transparent;
            outline: none;
            cursor: pointer;
            background: #028ED5;
            color: #ffffff;
            line-height: 22px;
            text-align: center;
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
            border-radius: 22px;
            width: 120px;
            height: 44px;
        }
    }
}

/* Footer */ 
footer{
    background: #414042;
    height: 148px;
    padding: 24px 30px 0 32px;
    display: flex;
    position: relative;

    .footer{
        &-website{
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
        }

        &-company{
            margin-top: 8px;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
        }

        &-copyright{
            margin-top: 40px;
            font-size: 9px;
            color: #FFFFFF;
            letter-spacing: 0;
        }
    }

    .social-media{
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 16px;
        position: absolute;
        right: 30px;

        img{
            height: 18px;
            cursor: pointer;
        }

        i{
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}