/* line 3, ../sass/reusable.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

/* line 10, ../sass/reusable.scss */
body {
  background: #EAEAEB;
}

/* Fonts */
/* line 15, ../sass/reusable.scss */
.open-sans-semibold {
  font-weight: 600;
}

/* line 19, ../sass/reusable.scss */
.open-sans-regular {
  font-weight: 400;
}

/* line 23, ../sass/reusable.scss */
.open-sans-bold {
  font-weight: 700;
}

/* Header */
/* line 28, ../sass/reusable.scss */
header {
  background-color: #333333;
  width: 100%;
  height: 40px;
}
/* line 33, ../sass/reusable.scss */
header img {
  position: absolute;
  top: 12px;
  right: 30.2px;
  cursor: pointer;
}

/* line 41, ../sass/reusable.scss */
.container {
  margin: 0px 30px;
}

/* Navigation Bar */
/* line 46, ../sass/reusable.scss */
.navigation-bar {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}
/* line 50, ../sass/reusable.scss */
.navigation-bar .navbar {
  display: grid;
  width: 100%;
  grid-template-columns: 41.94px auto auto;
  justify-items: end;
}
@media (min-width: 579px) {
  /* line 50, ../sass/reusable.scss */
  .navigation-bar .navbar {
    display: flex;
  }
}
/* line 61, ../sass/reusable.scss */
.navigation-bar .navbar-block img {
  max-height: 77px;
}
/* line 66, ../sass/reusable.scss */
.navigation-bar .navbar-binus {
  width: 100%;
  margin: 21px 0px 9px 21px;
  justify-self: baseline;
}
/* line 72, ../sass/reusable.scss */
.navigation-bar .navbar-toggle {
  display: none;
}
/* line 75, ../sass/reusable.scss */
.navigation-bar .navbar-toggle:checked ~ .navbar-items {
  max-height: 212px;
  transition: max-height .2s ease-in-out;
}
/* line 81, ../sass/reusable.scss */
.navigation-bar .navbar-toggle:checked ~ .navbar-icon .nav-icon {
  background: transparent;
}
/* line 84, ../sass/reusable.scss */
.navigation-bar .navbar-toggle:checked ~ .navbar-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}
/* line 89, ../sass/reusable.scss */
.navigation-bar .navbar-toggle:checked ~ .navbar-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}
/* line 97, ../sass/reusable.scss */
.navigation-bar .navbar-icon {
  position: relative;
  margin-bottom: 20px;
  align-self: flex-end;
  cursor: pointer;
}
@media (min-width: 579px) {
  /* line 97, ../sass/reusable.scss */
  .navigation-bar .navbar-icon {
    display: none;
  }
}
/* line 107, ../sass/reusable.scss */
.navigation-bar .navbar-icon .nav-icon {
  background: #666666;
  display: block;
  height: 3px;
  width: 20px;
  position: relative;
  border-radius: 2px;
  transition: background .2s ease-out;
}
/* line 116, ../sass/reusable.scss */
.navigation-bar .navbar-icon .nav-icon:before {
  background: #666666;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: 6px;
}
/* line 128, ../sass/reusable.scss */
.navigation-bar .navbar-icon .nav-icon:after {
  background: #666666;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: -6px;
}
/* line 142, ../sass/reusable.scss */
.navigation-bar .navbar-items {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  white-space: nowrap;
}
/* line 151, ../sass/reusable.scss */
.navigation-bar .navbar-items li {
  text-align: center;
}
/* line 154, ../sass/reusable.scss */
.navigation-bar .navbar-items li a {
  display: block;
  border-bottom: 1px solid #EAEAEB;
  padding: 15px;
}
@media (min-width: 579px) {
  /* line 154, ../sass/reusable.scss */
  .navigation-bar .navbar-items li a {
    border: none;
    padding: 0;
  }
}
/* line 165, ../sass/reusable.scss */
.navigation-bar .navbar-items li a:link {
  text-decoration: none;
}
/* line 169, ../sass/reusable.scss */
.navigation-bar .navbar-items li .open-sans-regular {
  color: #885e5e;
  font-size: 12px;
}
/* line 174, ../sass/reusable.scss */
.navigation-bar .navbar-items li .open-sans-bold {
  color: #666666;
  font-size: 14px;
}
@media (min-width: 579px) {
  /* line 142, ../sass/reusable.scss */
  .navigation-bar .navbar-items {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 8px;
    max-height: 100%;
  }
  /* line 188, ../sass/reusable.scss */
  .navigation-bar .navbar-items li a {
    margin-left: 24px;
  }
  /* line 192, ../sass/reusable.scss */
  .navigation-bar .navbar-items li .home {
    position: absolute;
    right: 30px;
    top: 94px;
  }
}

/* Login Button */
/* line 204, ../sass/reusable.scss */
.login {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}
@media (min-width: 579px) {
  /* line 204, ../sass/reusable.scss */
  .login {
    position: absolute;
    z-index: 2;
  }
}
/* line 214, ../sass/reusable.scss */
.login-button {
  padding: 16px 30px 16px 0px;
  text-align: right;
}
/* line 218, ../sass/reusable.scss */
.login-button input[type="submit"] {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  background: #028ED5;
  color: #ffffff;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 22px;
  width: 120px;
  height: 44px;
}

/* Footer */
/* line 238, ../sass/reusable.scss */
footer {
  background: #414042;
  height: 148px;
  padding: 24px 30px 0 32px;
  display: flex;
  position: relative;
}
/* line 246, ../sass/reusable.scss */
footer .footer-website {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
}
/* line 252, ../sass/reusable.scss */
footer .footer-company {
  margin-top: 8px;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}
/* line 259, ../sass/reusable.scss */
footer .footer-copyright {
  margin-top: 40px;
  font-size: 9px;
  color: #FFFFFF;
  letter-spacing: 0;
}
/* line 267, ../sass/reusable.scss */
footer .social-media {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 16px;
  position: absolute;
  right: 30px;
}
/* line 274, ../sass/reusable.scss */
footer .social-media img {
  height: 18px;
  cursor: pointer;
}
/* line 279, ../sass/reusable.scss */
footer .social-media i {
  color: #FFFFFF;
  cursor: pointer;
}
